<div class='col-md-4'>
  <%= simple_form_for [@project, @ticket] do |f| %>
    <% if @ticket.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(@ticket.errors.count, "error") %>
       prohibited this ticket from being saved:</h2>

       <ul>
       <% @ticket.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
       </ul>
     </div>
    <% end %>

    <%= f.input :title %>
    <%= f.input :description %>
    <div id="assets">
      <h3>Supporting Files</h3>
      <%= render partial: "assets/form", locals: { f: f, index: 0 } %>
    </div>
    <p>
      <%= link_to "Add another file", new_asset_path,
      remote: true, id: "add_file" %>
    </p>

    <%= f.button :submit, class: 'btn-primary' %>
  <% end %>
</div>
