<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Ticketee
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
  <% flash.each do |key, message| %>
    <div class='alert alert-<%= key %>'>
      <%= message %>
    </div>
  <% end %>

  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <%= link_to "Ticketee", root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav">
      <li class='<%= 'active' if current_page?('/') %>'>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "Sign Up", sign_up_path %>
      </li>
    </ul>
  </nav>

  <%= yield %>
</div>

</body>
</html>
