<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Ticketee
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='container'>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "Ticketee", root_path, class: 'navbar-brand' %>
        </div>
        <ul class="nav navbar-nav">
          <li class='<%= 'active' if current_page?('/') %>'>
            <%= link_to "Home", root_path %>
          </li>
          <% unless user_signed_in? %>
            <li class='<%= 'active' if current_page?('/users/sign_up') %>'>
              <%= link_to "Sign up", new_user_registration_path %>
            </li>
            <li class='<%= 'active' if current_page?('/users/sign_in') %>'>
              <%= link_to "Sign in", new_user_session_path %>
            </li>
          <% end %>
        </ul>

        <% if user_signed_in? %>
          <div class="collapse navbar-collapse">
            <div class="navbar-text navbar-right">
              <% admins_only do %>
                <%= link_to "Admin", admin_root_path %>
              <% end %>
              Signed in as <%= current_user.email %> &middot;
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            </div>
          </div>
        <% end %>
      </div>
    </nav>

    <% flash.each do |key, message| %>
      <div class='alert alert-<%= key %>'>
        <%= message %>
      </div>
    <% end %>


    <div class='col-md-12'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
